.logo{
  width: 55px;
  height: 60px;
  padding-top: 6px;
  margin-left: 30px;
  float: left;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

}

.nav-li li{
  display: inline-block;
  padding: 20px;

}
.nav-li a{
  text-decoration: none;
  color: aliceblue;
}
.nav-li a:hover{
  color: rgb(255, 217, 0);
}
.nav-li li:hover{
  background-color: lightslategrey;
}
.nav-li{
  margin: 0%;
}
.navdiv{
  background-color:rgb(20, 115, 125);
  padding-left: 60px;
}

.navright{
  text-align: right;
  padding: 15px;
  margin-right: 20px;
}
.signup{
  margin-left: 300px;
}

.search{
  border: 2px solid rgb(145, 93, 15);
  padding: 5px;
  margin-bottom: 10px;
  width: 500px;

}
.inputBox{
    display: block;
    margin: 20px;
    width: 50%;
    padding: 10px;
    background-color: rgb(254, 243, 201);
}
.product ul li{
  display: inline-block;
  border: 2px solid skyblue;
  padding: 3px;
  width: 150px;
  text-align: center;
  margin:3px;

}
.product{
  margin-left: 0px;
  text-align: center;
}
.product ul{
  padding-left: 0px;
  margin-bottom: 0%;
  /* padding-right: 200px; */
  display: inline-flex;
}

.product ul li img{
  width: 150px;
}
.operation{
  background-color: antiquewhite;
}
.invalid-input{
display: block;
margin-left: 20px;
color: red;
margin-top:-25px;
font-size: smaller;
}
.signupbtn{
  background-color: aquamarine;
  margin-left: 150px;
  width: 200px;
}
.signupbtn:hover{
  background-color: rgb(116, 116, 236);
}

.footer{
  position:relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color:rgb(20, 115, 125);
  color: rgb(230, 228, 80);
  display:inline-block;
  height: 70px;
  flex-shrink: 0;
}